<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MathGo - Inicio sesión</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/login.css" />
</head>

<body>
  <div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card p-5 shadow" style="width: 100%; max-width: 620px">
      <div id="mensajeError" class="alert alert-danger d-none" role="alert">
        El usuario o la contraseña son incorectos
      </div>
      <div class="text-center mb-3">
        <img src="../img/logo.MathGo-removebg-preview.png" alt="logo" style="width: 450px" />
      </div>
      <h2 class="text-center mb-4">Bienvenido a MathGo</h2>
      <div class="mb-3">
        <label for="correo" class="form-label">Correo Electrónico</label>
        <input type="email" id="correo" class="form-control" placeholder="Correo Electrónico" />
      </div>
      <div class="mb-3">
        <label for="contraseña" class="form-label">Contraseña</label>
        <div class="input-group">
          <input type="password" id="contraseña" class="form-control" placeholder="Contraseña" />

          <button class="btn btn-outline-secondary" type="button" onclick="togglePassword()">
            <i class="bi bi-eye-fill" id="eyeIcon"></i>
          </button>
        </div>
      </div>
      <button type="button" class="btn btn-primary w-100" onclick="handleLogin()" id="btnIngresar">
        Ingresar
      </button>
      <div class="text-center mt-3">
        <span>¿No tienes cuenta?</span>
        <a href="elegir_rol.html">Régistrate acá</a>
      </div>
    </div>
  </div>
  <script src="../js/login.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>