main{
    height: 100vh;
}

#imgProfile{
    border-radius: 50%;
    width: 80%;
}

#rangoImg{
    width: 20%;
}

.card{
    transition: all 0.5s;
}

.card:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
    border-bottom: solid 5px #2980b9;
}

#contenedorPrincipal{
    margin-left: 220px;
    box-sizing: border-box;
}